* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-0);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient);
}